@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-midnight text-slate-100 min-h-screen;
}

code {
  @apply rounded bg-slate-800 px-2 py-1 font-mono text-xs text-slate-200;
}
